footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 50px; /* Adjust the height as necessary */
    margin-right: 15px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}

th, td {
    border: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
}

th {
    background-color: #f2f2f2; 
}
